
PACKAGE_NAME=FakeNasExample
PACKAGE_CODE=FAKESAMPLENAS

KERNEL_LOCATION=linux.tar.gz
KERNEL_MD5=e50df3226efb93bdd477c9ba78a71da4

TOOLCHAIN_LOCATION=toolchain.tar.gz
TOOLCHAIN_MD5=006caa9aff31c9290dd48db0ff185e21

EXTRAS_LOCATION=extrafile.tar.gz

function WDEXFAMILY_ENVIRONMENT {
	echo "custom environment"
}

function WDEXFAMILY_KERNEL_CONFIGURE {
	echo "custom kernel configure func"
}

function WDEXFAMILY_KERNEL_BUILD {
	echo "custom kernel build func";
}

function WDEXFAMILY_KERNEL_CLEAN {
	echo "custom kernel clean func";
}

function WDEXFAMILY_MEDIA_CONFIGURE {
	echo "custom media configure func";
}

function WDEXFAMILY_MEDIA_BUILD {
	echo "custom media build func";
}

function WDEXFAMILY_MEDIA_CLEAN {
	echo "custom media clean func";
}
